<div class="container-fluid mt-5">
<div class="row">
  <div class="col-md-4">
    <div class="card user-card">
      <div class="card-header">
        <h5>Add New Service</h5>
        <p style="color: red"><%= alert %></p>
      </div>
      <div class="card-block">
        <%= render "form", service: @service %>
      </div>
    </div>
  </div>
<% @services.each do |service| %>
    <%= render service %>
  <% end %>
</div>
</div>
