<div id="<%= dom_id profile %>">

  <p><% profile.picture.each do |pic| %>
      <%= image_tag pic, height: '350px', width: '700px' %>
    <% end %>
  </p>
  <p>
    <%= profile.first_name %> <%= profile.last_name %>
  </p>

</div>

