<br>
<div class="card border-primary mb-3" style="width: 18rem;">
  <div class="card-header">
    <h4 class="title">Editing profile</h4>
  </div>
  <div class="card-body">
    <img src="..." class="card-img-top" alt="...">
    <%= render "form", profile: @profile %>

  </div>
  <div class="card-footer">
    <%= link_to "Show", @profile %>
  </div>
</div>