<!--<article>-->

<!--  <a href="#" class="comment-form-display reply" >reply</a>-->

<!--  <div class="comment-form">-->
    <%#= render partial: 'comments/form', locals: { post: comment.post, parent: comment } %>
<!--  </div>-->



<!--  <div class="sub-comment">-->
    <%#= render comment.comments.order(id: :desc)%>
<!--  </div>-->

<!--</article>-->

<!--<script>-->
<!--    document.querySelectorAll('.comment-form-display').forEach((el) => {-->
<!--        el.addEventListener('click', (ev) => {-->
<!--            ev.preventDefault();-->
<!--            el.nextElementSibling.style = 'display: block;'-->
<!--        })-->
<!--    })-->
<!--</script>-->


<!--<div style="height: 140px; background-color: #2ed8b6">-->
<!--  <div class="row" style="height: 50%; background-color: #8c8c8c">-->
<!--    <div class="column" style="height: 100%; width: 70%;background-color: royalblue">-->
<!--      <p>-->
<!--        <small> by <%#= comment.user.profile.first_name %></small><br>-->
<!--        <%#= comment.content %> <br>-->
<!--        <small><%#= time_ago_in_words(comment.created_at) %> ago</small>-->
<!--      </p>-->
<!--    </div>-->
<!--    <div class="column" style="height: 100%; width: 15%;background-color: green">-->

<!--    </div>-->
<!--    <div class="column" style="height: 100%; width: 15%;background-color: royalblue">-->

<!--    </div>-->
<!--  </div>-->
<!--  <div style="height: 20px; background-color: #0d0d0d">-->
<!--  </div>-->
<!--  <div class="row" style="height: 50%; background-color: #8c8c8c">-->
<!--    <div class="column" style="height: 100%; width: 70%;background-color: royalblue">-->

<!--    </div>-->
<!--    <div class="column" style="height: 100%; width: 15%;background-color: green">-->

<!--    </div>-->
<!--    <div class="column" style="height: 100%; width: 15%;background-color: royalblue">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
