<article>

  <p>
    <small><%= comment.user.email %></small>
    | <%= comment.content %>
  </p>

  <a href="#" class="comment-form-display reply" >reply</a>

  <div class="comment-form">
    <%= render partial: 'comments/form', locals: { post: comment.post, parent: comment } %>
  </div>

  <hr/>

  <div class="sub-comment">
    <%= render comment.comments.order(id: :desc)%>
  </div>

</article>

<script>
    document.querySelectorAll('.comment-form-display').forEach((el) => {
        el.addEventListener('click', (ev) => {
            ev.preventDefault();
            el.nextElementSibling.style = 'display: block;'
        })
    })
</script>