<form action="<%= post_comments_path(post) %>" method="post">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">

  <% if !parent.nil? %>
    <input type="hidden", name="comment[parent_id]" value="<%= parent.id %>">
  <% end %>
  <div>
    <div style="width: 50px; float: left; padding-left: 20px; padding-top: 13px">
      <textarea name="comment[content]" style="resize: none; border-radius: 10px"></textarea>
    </div>
    <div style="width: 50px; float: right; padding-top: 7px">
      <p style="float: right">
        <input class="comment" type="submit" value="Comment">
      </p>
    </div>
  </div>

</form>