<p style="color: green"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-text" style="text-align: center;">Pets</h5>
  </div>
</div>

<br>

<div id="pets">
  <% @pets.each do |pet| %>
    <%= render pet %>
    <br>
  <% end %>
</div>

</div>


<br>



<%= link_to "New pet", new_pet_path %>