<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card user-card">
        <div class="card-header">
          <h5>Add New order</h5>
          <p style="color: red"><%= alert %></p>
        </div>
        <div class="card-block">
          <%= render "form", order: @order %>
        </div>
      </div>
    </div>
    <% @orders.each do |order| %>
      <%= render order %>
    <% end %>
  </div>
</div>
