<p style="color: green"><%= notice %></p>


<div class="card" style="width: 18rem;">
  <div style="padding-top: 15px">
    <div style="width: 50%; float: left">
      <strong class="card-text">Orders</strong>
    </div>
    <div style="width: 50%; float: right">
      <p style="float: right">
        <%= link_to "New order", new_order_path %>
      </p>
    </div>
  </div>
</div>

<br>

<div id="orders">
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
</div>