<section class="about-us py-5 " id="about-us">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <h1 class='text-success'>Welcome!</h1>
        <h2>Know More About Us</h2>
        <hr>
        <p>This is a pet profile website you can add pets, services, make order, can also create posts for your pets. This is a dummy project for testing the skills, can create user profile upload pictures for the pets post</p>
        <p>This is a pet profile website you can add pets, services, make order, can also create posts for your pets. This is a dummy project for testing the skills, can create user profile upload pictures for the pets post </p>
        <button type="button" class="btn btn-success">Let's Know More</button>

      </div>
      <div class="col-md-3" style="margin-right: 30px">
        <img src="http://themebubble.com/demo/marketingpro/wp-content/uploads/2016/10/seo-slide.png "alt="">
      </div>
    </div>
  </div>
</section>