<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<p>
  <%= link_to "New pet", new_pet_path %>
</p>


<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody id="post">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </tbody>
</table>


