.sub-comment {
    padding-left: 10px;
}

.card {
    border-style: solid;
    border-color: #2E2F30;
}

.card {
    width: 47rem;
    margin-left: 150px;
}

.float-right {
}

.comment-form {
    display: none;
}

.comment {
    float: right;
    margin-top: 1px;
    height: 50px;
}

.reply {
    float: right;
    margin-right: 20px;
}

.scroll {
    max-height: 250px;
    overflow-y: auto;
}

textarea {
    resize: none;
    height: 50px;
    width: 550px;
}

.card-header {
    background-color: darkgrey;
}



/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.fl {
    margin-top: 17px;
}