.sub-comment {
    padding-left: 20px;
}

.comment-form {
    display: none;
}

.comment {
    margin-left: 90%;
    margin-top: 5px;
}

.reply {
    margin-left: 220px;
}

.scroll {
    max-height: 250px;
    overflow-y: auto;
}

.card-header {
    background-color: darkgrey;
}



/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: grey;
}

.fl {
    margin-top: 17px;
}